<div class="card shadow border-0">

    <div class="card-body p-4">

        <h4>Cadastro de clientes</h4>
        <p>Preencha os campos para incluir um cliente.</p>

        <hr />

        <form [formGroup]="formcadastro" (ngSubmit)="cadastrarCliente()">

            <div class="row">

                <!-- Nome -->
                <div class="col-md-12 mb-3">
                    <label class="form-label">Nome do Cliente</label>
                    <input type="text"
                           formControlName="nome"
                           class="form-control" 
                           placeholder="Digite o nome do cliente">
                    @if (formcadastro.get('nome')?.touched && formcadastro.get('nome')?.invalid) {
                            <div class="text-danger">
                                O nome do cliente é obrigatório e deve ter de 6 a 150 caracteres.
                            </div>    
                    }
                </div>

                <!-- CPF -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">CPF</label>
                    <input type="text" 
                           formControlName="cpf"
                           class="form-control" 
                           placeholder="Digite o CPF">

                    @if (formcadastro.get('cpf')?.touched && formcadastro.get('cpf')?.invalid) {
                          <div class="text-danger">
                              O cpf do cliente é obrigatório e deve ter 11 dígitos.
                          </div>    
                    }
                </div>

                <!-- Email -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Email</label>
                    <input type="email"
                           formControlName="email"
                           class="form-control" 
                           placeholder="Digite o email">

                    @if (formcadastro.get('email')?.touched && formcadastro.get('email')?.invalid) {
                          <div class="text-danger">
                              O email do cliente é obrigatório e deve estar em um formato válido
                          </div>    
                    }                           
                </div>

                <!-- Telefone -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Telefone</label>
                    <input type="text"
                           formControlName="telefone" 
                           class="form-control" 
                           placeholder="Digite o telefone">

                    @if (formcadastro.get('telefone')?.touched && formcadastro.get('telefone')?.invalid) {
                          <div class="text-danger">
                              O telefone do cliente é obrigatório e deve ter 10 ou 11 dígitos
                          </div>    
                    }                            
                </div>

                <!-- Nível -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Nível</label>
                    <select class="form-select" formControlName="nivel">

                        <option value="">Selecione o nível</option>
                        @for (item of niveisCliente(); track item.id) {
                          <option value="{{ item.id }}">
                            {{ item.nome }}
                          </option>>
                        } 
                    </select>

                    @if (formcadastro.get('nivel')?.touched && formcadastro.get('nivel')?.invalid) {
                          <div class="text-danger">
                              O nível do cliente é obrigatório.
                          </div>    
                    }                     
                </div>

            </div>

            <!-- Botão -->
            <div class="d-flex mt-2">
                <button type="submit"
                        [disabled]="formcadastro.invalid"
                        class="btn btn-primary px-4">
                        Confirmar Cadastro
                </button>
            </div>

        </form>

    </div>

</div>