<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid">
    
    <!-- Nome do projeto -->
    <a class="navbar-brand fw-bold" href="#">
      ClientesWeb
    </a>

    <!-- Botão para mobile -->
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav"
      aria-controls="navbarNav" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">
            Dashboard
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/cadastrar-clientes">
            Cadastro de clientes
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/consultar-clientes">
            Consulta de clientes
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>